---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import Form from "../components/Form.astro";
import Carousel from "../components/Carousel.astro";
import Footer from "../components/Footer.astro";
import Accordion from "../components/Accordion.astro";

const images = [
  { src: './potencia/Campus.JPG', title: 'Áreas de descanso' },
  { src: './potencia/Biblioteca.jpg', title: 'Biblioteca y sala de networking' },
  { src: './potencia/Laboratorio.JPG', title: 'Laboratorios' },
  { src: './potencia/Veterinaria.jpg', title: 'Hospital Escuela' },
  { src: './potencia/Capilla.jpg', title: 'Capilla y Acción Pastoral' },
  { src: './potencia/Radio y TV.jpg', title: 'Estudio de Radio y Tv' },
  { src: './potencia/Pileta.jpg', title: 'Instalaciones Deportivas' },
  { src: './potencia/Bosque.jpg', title: 'Espacios verdes' }
];
const icons = [
  { src: './razones/Becas.svg', alt: 'becas', text: 'Becas' },
  { src: './razones/Prog. Internacionales.svg', alt: 'programas internacionales', text: 'Programas Internacionales' },
  { src: './razones/Idiomas.svg', alt: 'idiomas', text: 'Idiomas' },
  { src: './razones/Pasantias.svg', alt: 'pasantias', text: 'Pasantías' },
  { src: './razones/Bolsa de Trabajo.svg', alt: 'bolsa de trabajo', text: 'Bolsa de Trabajo' },
  { src: './razones/Orientacion.svg', alt: 'centro de orientacion educativa', text: 'Centro de Orientación Educativa' }
];
---

<Layout title="Carreras Ucasal">
  <Header />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-hidden">
    <div class="snap-center">
      <HeroSection />
    </div>
  </main>
  <Form />
  
    <h2 class="lg:mx-20 bigTitle px-5 mt-5 shadow-black mb-5">
      <span style="color: rgb(97, 96, 96)">Conoce nuestas</span>&nbsp;CARRERAS:
    </h2>
    <Accordion/>

    <h2 class="lg:mx-20 bigTitle px-5 mt-5 shadow-black ">
      <span style="color: rgb(97, 96, 96)">Estudiá en</span
      >&nbsp;SALTA:
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5 mx-5">
      <!-- Columna 1 -->
      <div class="lg:mx-20 flex-col md:items-center md:justify-center">
        <div class="flex items-center">
          <img class="img-fluid w-20" src="./iconoPresencial.svg">
          <h2 class="font-extrabold text-base md:text-lg relative md:ml-3 text-[#CE3F43]">
            PRESENCIAL (P)
          </h2>
        </div>
        <div class="mx-2 mt-3 md:mt-0 md:text-xl">
          <ul class="list-disc list-inside md:text-lg text-sm">
            <li>La educación presencial tiene todos los beneficios del aprendizaje tradicional: mejora la comprensión, permite
              el desarrollo de habilidades socioemocionales y te asegura una interacción constante en tiempo real con docentes y compañeros.</li>
            <li>Implica un cursado en horario fijo en las instalaciones del Campus Castañares, es decir una organización clara que facilitará
              tu desenvolvimiento en otros aspectos de tu vida personal como la práctica de la danza, los deportes o el idioma.</li>
            <li>Potenciamos tus habilidades con clases personalizadas.</li>
          </ul>
        </div>        
      </div>
      
      <!-- Columna 2 -->
      <div class="lg:mx-20 flex-col md:items-center md:justify-center">
        <div class="flex items-center">
          <img class="img-fluid w-20" src="./iconoVirtual.svg">
          <h2 class="font-extrabold text-base md:text-lg relative md:ml-3 text-[#003D7C]">
            DISTANCIA (D)
          </h2>
        </div>
        <div class="mx-2 mt-3 md:mt-0 text-3xl md:text-xl">
          <ul class="list-disc list-inside md:text-lg text-sm">
            <li>La educación digital es 100% online, adaptándose a tu realidad.</li>
            <li>Tendrás acceso a recursos de diversos formatos en el dispositivo que prefieras, entornos
              y sistemas de cátedras virtuales para que tu experiencia sea personalizada.</li>
            <li>Audios, video clases, cápsulas de conocimiento, guías de aprendizaje, bibliotecas
              virtuales, webinarios y videoconferencias son solo algunos de los recursos en formato sincrónico y asincrónico que tendrás disponible 24/7.</li>
            <li>Disfrutá de espacios físicos en tu sede y aprendé en comunidad.</li>
          </ul>
        </div>
      </div>
    </div>
    
    <h2 class="lg:mx-20 bigTitle px-5 mt-5 shadow-black ">
      <span style="color: rgb(97, 96, 96)">¡Potencia tu experiencia</span
      >&nbsp;UNIVERSITARIA!:
    </h2>
    <section class="mt-5 flex flex-col justify-center items-center" id="seccion-experiencia">
      <div class="max-w-4xl">
        <div class="flex flex-wrap -mx-2">
          {images.map((image, index) => (
            <div class="w-full sm:w-1/2 md:w-1/4 px-2">
              <div class="mb-4">
                <div class="card" style={{ border: "none" }}>
                  <img
                    src={image.src}
                    class="w-full h-auto shadow rounded"
                    alt={image.title}
                  />
                  <div class="card-body">
                    <p class="texto-clases text-center font-bold mt-1">{image.title}</p>
                  </div>
                </div>
              </div>
            </div>
          ))}
        </div>
      </div>
      <div class="relative z-10 mt-5 mb-10 mx-auto w-3/5 max-w-xs">
        <a href="#form-section" class="block text-white bg-orange-700 border border-white rounded-lg text-base font-medium py-2 px-3 text-center transition-transform transform-gpu hover:scale-105 hover:bg-orange-600">
          ¡Más Info!
        </a>
      </div>    
    </section>
    
    <h2 class="lg:mx-20 bigTitle px-5 mt-5 shadow-black">
      <span style="color: rgb(97, 96, 96)">Razones para elegir</span
      >&nbsp;UCASAL:
    </h2>
    <div class="flex justify-center items-center">
     <div class="container d-none lg:d-block md:d-block sm:d-none mb-5">
      <div class="grid grid-cols-6 gap-4 mx-auto">
        {icons.map((icon, index) => (
          <div class="text-center">
            <img class="mx-auto w-24" src={icon.src} alt={icon.alt} />
            <p class="texto-clases text-center font-bold mt-1">{icon.text}</p>
          </div>
        ))}
      </div>
    </div>
    </div>
 
    <section class="seccion" id="sedes">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 mx-5 lg:mx-20">
        <!-- Fila 1, Columna 1 - Mapa de Sedes -->
        <div class="flex flex-col justify-start">
          <h2 class="bigTitle px-5 my-5 shadow-black"><span style="color: rgb(97, 96, 96)">Nuestras</span>&nbsp;SEDES:</h2>
          <iframe src="https://ucasal.edu.ar/mapa_sedes/mapa_sedes_ucasal.html" style="height: 45vh;width:100%; border: 0;" allowfullscreen></iframe>
        </div>
    
        <!-- Fila 1, Columna 2 - Recorrido 360 -->
        <div class="flex flex-col justify-start">
          <h2 class="bigTitle px-5 my-5 shadow-black"><span style="color: rgb(97, 96, 96)">Nuestro</span>&nbsp;CAMPUS:</h2>
          <iframe src="https://ucasal.edu.ar/recorrido360/" style="width: 100%; height: 100%;" class="video shadow"></iframe>
        </div>
      </div>
    </section>
    
    <section class="seccion" id="form-section">
      <div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-4 mb-4 mx-5 lg:mx-20">
        <!-- Columna 1 -->
        <div class="flex justify-center">
          <div class="relative z-10 mx-auto w-3/5 max-w-xs drop-shadow-2xl">
            <a href="#form-section" class="block text-white bg-orange-700 border border-white rounded-lg text-base font-medium py-2 px-3 text-center transition-transform transform-gpu hover:scale-105 hover:bg-orange-600">
              ¡Más Info!
            </a>
          </div>
        </div>
    
        <!-- Columna 2 -->
        <div class="flex justify-center">
          <div class="relative z-10 mx-auto w-3/5 max-w-xs drop-shadow-2xl">
            <a href="#form-section" class="block text-white bg-orange-700 border border-white rounded-lg text-base font-medium py-2 px-3 text-center transition-transform transform-gpu hover:scale-105 hover:bg-orange-600">
              ¡Más Info!
            </a>
          </div>
        </div>
      </div>
    </section>
    

  <!-- Espacio en blanco -->
  <div class="bg-grey-300 h-10">
  <Footer />
  </div>
  

<!-- <Carousel /> -->
<script src="/src/scripts/scripts.js" is:inline></script>

</Layout>
