---
import Card from "./Card.astro";
import {datita} from "../scripts/datita.js";
import {facus} from "../scripts/facultades.js";
---
<div id="accordion-collapse" class="mx-5" data-accordion="collapse">

  {facus.map((facultad, index) => (
    <div key={index}>
      {index === 6 && (
        <div class="flex justify-center items-center">
  <a href="https://ucasal.edu.ar/inscripciones" target="_blank">
    <div class="max-w-full">
      <video width="100%" id="banner" preload autoplay loop muted>
        <source src="/banner.mp4" type="video/mp4">
        <source src="/banner.ogg" type="video/ogg">
      </video>
    </div>
  </a>
</div>

      )}
  
      <h2 id={`accordion-collapse-heading-${index}`} class="text-center">
        <button
          type="button"
          class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200"
          data-accordion-target={`#accordion-collapse-body-${index}`}
          aria-expanded="true"
          aria-controls={`accordion-collapse-body-${index}`}
        >
          <img
            class="w-10 h-auto"
            src="/13.svg"
            alt="icono ingenieria"
          />
          <span class="mx-auto font-semibold">{facultad.nombre}</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      <div
        id={`accordion-collapse-body-${index}`}
        class="hidden"
        aria-labelledby={`accordion-collapse-heading-${index}`}
      >
        <div class="p-5 mb-5 grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 justify-center items-center">
          {datita
            .filter((item) => item.codare === facultad.codare)
            .map(({ codcar, nombre, codare, modo, duracion }) => (
              <Card
                codcar={codcar.toString()}
                nombre={nombre}
                codare={codare.toString()}
                modo={modo.toString()}
                duracion={duracion}
              />
            ))}
        </div>
      </div>
    </div>
  ))}
  
  
  </div>
  
